<!--<nav class="navbar shadow">
  <span class="navbar-brand">Where in the world?</span>
  <button class="btn"><i class="fas fa-sun"></i></button>
&lt;!&ndash;  <i class="fas fa-sun"></i>&ndash;&gt;
&lt;!&ndash;  <i class="far fa-sun"></i>&ndash;&gt;
</nav>-->

<div class="container-fluid dark">
  <div class="row">
    <div class="col-12 header" style="height: 30vh;">
      
    </div>
    <div class="col-12 body d-flex justify-content-center" style="height: 70vh;">
      <div class="row content">
        <div class="col-12 p-0">
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text h-100">
                <input type="checkbox" class="form-check-input" [(ngModel)]="inputDefaultParams.done" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control form-control-lg" [(ngModel)]="inputDefaultParams.name" (keyup.enter)="keyEnter()"  placeholder="Create a new todo...">
          </div>
          <div class="list">
            <ngx-sortable [items]="itemsFiltered" [name]="'List'" [showHeader]="false" (listSorted)="listSorted($event)" [listStyle]="{ width: '100%', dropZoneHeight:'61px' }">
              <ng-template let-item>
                <div class="sortable-list-item position-relative">
                  <input class="form-check-input" [checked]="item.done"  (click)="checked(item)" type="checkbox" value="">
                  <label class="form-check-label" [ngClass]="{'task-completed':item.done}" style="margin-left: 19px;">
                    {{item.name}}
                  </label>
                  <button class="btn btn-delete position-absolute" (click)="deleteItem(item)"><i class="fas fa-times-thin fa-2x"></i></button>
                </div>
              </ng-template>
            </ngx-sortable>
            <footer class="row">
              <div class="footer-left-content col-12 col-md-3 text-sm-center">
                <button class="btn">{{itemleft()}}</button>
              </div>
              <div class="footer-center-content col-12 col-md-5  text-sm-center">
                <button class="btn" [ngClass]="{'active': tabOption == 1 }" (click)="showData(1)">All</button>
                <button class="btn" [ngClass]="{'active': tabOption == 2 }" (click)="showData(2)">Active</button>
                <button class="btn" [ngClass]="{'active': tabOption == 3 }" (click)="showData(3)">Completed</button>
              </div>
              <div class="footer-right-content col-12 col-md-4  text-sm-center">
                <button class="btn" (click)="clearCompleted()">Clear Completed</button>
              </div>
            </footer>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
